

 body {
  
  z-index: 2;
  padding: 0;
  margin: 0;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif serif;
  color: #ffffff;
}
 canvas {
  /* display: block; */
  background-image: url('http://www.nasa.gov/sites/default/files/thumbnails/image/stsci-h-p1709a-m2000x1500.png');
  /* background-image: url('http://www.nasa.gov/sites/default/files/thumbnails/image/stsci-h-p1709a-m2000x1500.png'); */

  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

.current-score {
  left: 30px;
}
.top-score {
  right: 30px;
}
.score {
  display: block;
  position: absolute;
  top: 15px;
  z-index: 1;
  font-size: 30px;
}
.controls {
  display: block;
  position: absolute;
  top: 65px;
  left: 50%;
  transform: translate(-50%, 0);
  z-index: 1;
  font-size: 30px;
  text-align: center;
  line-height: 1.6;
}

.title {
  display: block;
  position: absolute;
  top: 15px;
  left: 50%;
  transform: translate(-50%, 0);
  z-index: 1;
  font-size: 45px;
  text-align: center;
  line-height: 1.6;
}

.endgame{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 16px;
  z-index: 1;
  text-align: center;
}
button{
  border: 4px solid #ffffff;
  background-color: transparent;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px;
  margin: 10px;
  font-family: 'PT Mono', serif;
  cursor: pointer;
}
button:hover{
  background-color: #ffffff;
  color: #b88b8b;
}
